/* GLOBAL STYLES */

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

input:focus,
button:focus {
    outline: none;
}

input[type="text"] {
    -webkit-appearance: none;
    border: none;
}

#map,
#sidebar {
  top: 60px;
  height: calc(100vh - 60px);
}